<?xml version="1.0"?>
<robot name="realsense2_camera" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
  
  <link name="base_link" />

  <xacro:sensor_d435 
    parent="base_link"
    name="camera"
    use_nominal_extrinsics="true"
    add_plug="false" 
    use_mesh="true">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:sensor_d435>
  
  <gazebo>
    <plugin name="realsense_d435_plugin" filename="librealsense_gazebo_plugin.so">
      <prefix>${camera_name}</prefix>
      <depthUpdateRate>30.0</depthUpdateRate>
      <colorUpdateRate>30.0</colorUpdateRate>
      <infraredUpdateRate>30.0</infraredUpdateRate>
      <depthTopicName>depth/image_raw</depthTopicName>
      <depthCameraInfoTopicName>depth/camera_info</depthCameraInfoTopicName>
      <colorTopicName>color/image_raw</colorTopicName>
      <colorCameraInfoTopicName>color/camera_info</colorCameraInfoTopicName>
      <infrared1TopicName>infra1/image_raw</infrared1TopicName>
      <infrared1CameraInfoTopicName>infra1/camera_info</infrared1CameraInfoTopicName>
      <infrared2TopicName>infra2/image_raw</infrared2TopicName>
      <infrared2CameraInfoTopicName>infra2/camera_info</infrared2CameraInfoTopicName>
      <colorOpticalframeName>${color_optical_frame}</colorOpticalframeName>
      <depthOpticalframeName>${depth_optical_frame}</depthOpticalframeName>
      <infrared1OpticalframeName>${infrared1_optical_frame}</infrared1OpticalframeName>
      <infrared2OpticalframeName>${infrared2_optical_frame}</infrared2OpticalframeName>
      <rangeMinDepth>0.2</rangeMinDepth>
      <rangeMaxDepth>10.0</rangeMaxDepth>
      <pointCloud>${publish_pointcloud}</pointCloud>
      <pointCloudTopicName>depth/color/points</pointCloudTopicName>
      <pointCloudCutoff>0.25</pointCloudCutoff>
      <pointCloudCutoffMax>9.0</pointCloudCutoffMax>
    </plugin>
  </gazebo>


</robot>
