<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="OS1-128">

  <gazebo reference="OS1-128">
    <static>false</static>
  </gazebo>

  <xacro:include filename="$(find hyrecro)/urdf/hyrecro_materials.xacro"/>
  <xacro:include filename="$(find hyrecro)/urdf/sensor/os1_128_MODIF.urdf.xacro"/>
  <xacro:property name="PI"  value="3.1415926535897931"/>
  

<!--LINKS DECLARATION-->

  <xacro:OS1-128 
    parent       = "base_link"  
    name         = "os1_sensor" 
    topic_points = "/os1/pointCloud"
    topic_imu    = "/os1/imu"
    hz           = "10" 
    lasers       = "128" 
    samples      = "512" 
    min_range    = "0.2" 
    max_range    = "10.0" 
    noise        = "0.008" 
    min_angle    = "-${M_PI}" 
    max_angle    = "${M_PI}" 
    lidar_link   = "os1_lidar" 
    imu_link     = "os1_imu" 
    vfov_min     = "-0.3979" 
    vfov_max     = "0.3979">
    <origin xyz="0.0 0.0 0.0365" rpy="0.0 0.0 0.0"/>
  </xacro:OS1-128>
  
</robot>
